
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- custom css -->
        <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
         <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<section>
	<div class="container">
		<div class="row">
		    <div class="col-md-12">
		        <div class="center-heading text-center">
		            <h2>The Social Goods</h2>
		            <span class="icon"><i class="fa fa-twitter fa-lg"></i></span> 
		        </div><!--center heading-->
		    </div>
		</div><!--center heading-->
	</div>
	
	<div class="container">
		<div class = "row well">
			 <div class="center-heading text-center">
			<!--  <i class="fa fa-refresh fa-spin"></i> -->
			 </div>
			<!--  <div>
				<form action="" method="POST" role="form">
				
					<div class="form-group">
						<label for="">label</label>
						<input type="text" class="form-control" id="" placeholder="Input field">
					</div>
				
					
				
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
			 </div> -->

			 	<div class="container text-center">
			 		<div id="twitter-app">
						
					
					</div>
				</div>
				
	

		</div>
	</div>
	</section>

<!-- 
   	<script src="https://fb.me/react-0.13.3.js"></script>
	<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
	<script type="text/jsx" src="../client/tweetcomps/twitterCard.js"></script> 
	<script type="text/jsx" src="../client/tweetcomps/twitterBox.js"></script>
	<script type="text/jsx" src="../client/tweetcomps/twitterSearchBar.js"></script>
	<script type="text/jsx" src="../client/tweetcomps/twitterApp.js"></script>  -->
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script> 
	<script src="./static/tweetEntry.js"></script>

</body>
</html>

